body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#247adb, #79b3da);
    background-attachment: fixed;
}

#form-container {
    display: inline-flex;
    margin-top: 50px;
}

input {
    background: transparent;
    margin-left: 20px;
    height: 40px;
    border: 1px solid rgb(245, 254, 255);
    font-size:25px;
    color:rgb(245, 254, 255);
    padding: 5px 0px 5px 10px;
    border-radius: 15px;
}

input:focus {
    outline: 1px solid rgb(245, 254, 255);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(245, 254, 255);
    font-size:25px;
    color:rgb(245, 254, 255);
}

#main-plate {
    color: rgb(245, 254, 255);
    margin-top: 40px;
    font-size: 50px;
}

#icon {
    color: rgb(245, 254, 255);
    margin-top: 40px;
    font-size: 40px;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(245, 254, 255);
}

#inner-container {
    margin-left: 25px;
}

.forecast {
    display: flex;
    flex-direction: row;
}

p {
    text-align: left;
    color: rgb(245, 254, 255);
    font-size: 26px;
    margin-top: 10px;
}

#low {
    margin-left: 26px;
    font-size: 32px;
}

#high {
    font-size: 32px;
}

img {
    width: 100px;
    height: 100px;
}